@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --main-color: #ff9000;
  --black: #080202;
  --light-black: #181818;
  --white: #fff;
  --light-bg: #d3d2d3;
  --light-color: #666;
  --border: 0.1rem solid var(--main-color);
  --box-shadow: 0 0.5rem 1rem rgba(224, 221, 217, 0.8);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
}

::-webkit-scrollbar {
  width: 1rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

body {
  background: var(--light-black);
}

section {
  padding: 2rem;
  margin: 0 auto;
  max-width: 1200px;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 4rem;
  color: var(--main-color);
  text-transform: uppercase;
}

.btn {
  display: block;
  width: 100%;
  margin-top: 1rem;
  border-radius: .5rem;
  padding: 1rem 3rem;
  font-size: 2rem;
  color: var(--white);
  background-color: var(--main-color);
  cursor: pointer;
  text-transform: capitalize;
  text-align: center;
}

.btn:hover {
  background-color: var(--black);
}


.message {
  background-color: white;
  color: red;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}

.message i {
  cursor: pointer;
  color: red;
  font-size: 2rem;
}



/*index seccion header*/
.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--black);
  /*box-shadow: var(--box-shadow);*/
  z-index: 1000;
}

.header .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .flex .logo {
  font-size: 2.5rem;
  color: var(--white);
}

.header .flex .logo:hover {
  transform: scale(1.1);
}

.header .flex .logo span {
  color: var(--main-color);
}

.header .flex .navbar a {
  margin: 0 1rem;
  font-size: 2.2rem;
  color: var(--light-bg);
  text-transform: capitalize;
}

.header .flex .navbar a:hover {
  text-decoration: underline;
  color: var(--main-color);
}

.header .flex .icons div {
  font-size: 2.5rem;
  color: var(--light-bg);
  cursor: pointer;
  margin-left: 1.7rem;
}

.header .flex .icons div:hover {
  color: var(--main-color);
}

.header .flex .icons div span {
  font-size: 2rem;
}

#menu-btn {
  display: none;
  /*no se vea el icono del menu*/
}

/*menu del usuario*/
.user-account {
  position: fixed;
  top: 0;
  right: -110%;
  width: 100%;
  z-index: 1100;
  background-color: var(--white);
  height: 100vh;
  overflow-y: scroll;
  /*el usuario siempre tenga la barra de desplazamiento*/
}

.user-account.active {
  /*se muestre el menu para el usuario*/
  right: 0;
}


.user-account #close-account {
  text-align: right;
  margin-bottom: 2.5rem;
}

.user-account #close-account span {
  cursor: pointer;
  font-size: 2.5rem;
  color: var(--main-color);
  text-decoration: underline;
}

.user-account #close-account span:hover {
  color: var(--black);
}


.user-account .user {
  padding: 1.5rem;
  text-align: center;
  background-color: var(--light-bg);
  border-radius: .5rem;
}

.user-account .user p {
  font-size: 2rem;
  color: var(--white);
}

.user-account .user p span {
  color: var(--main-color);
}

.user-account .display-orders {
  padding: 3rem 2rem;
  text-align: center;
  background-color: var(--light-bg);
  border-radius: .5rem;
  margin: 2rem 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
}

.user-account .display-orders p {
  padding: 1rem 2.5rem;
  font-size: 2rem;
  color: var(--light-bg);
  background-color: var(--white);
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
}

.user-account .display-orders p span {
  color: var(--main-color);
}

.user-account .flex {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: flex-start;
}

.user-account .flex form {
  flex: 1 1 40rem;
  border-radius: .5rem;
  padding: 2rem;
  background-color: var(--light-bg);
}

.user-account .flex form h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
}

.user-account .flex form .box {
  width: 100%;
  margin: 1rem 0;
  border-radius: .5rem;
  background-color: var(--white);
  padding: 1.4rem;
  font-size: 1.8rem;
  color: var(--black);
}

/*my-orders*/
.my-orders {
  position: fixed;
  top: 0;
  right: -110%;
  width: 35rem;
  z-index: 1100;
  background-color: var(--light-bg);
  border-left: var(--border);
  height: 100vh;
  overflow-y: scroll;
}

.my-orders.active {
  /*se muestre el contenido de my-orders*/
  right: 0;
}

.my-orders #close-orders {
  text-align: right;
  margin-bottom: 2.5rem;
}

.my-orders #close-orders span {
  cursor: pointer;
  font-size: 2.5rem;
  color: var(--main-color);
  text-decoration: underline;
}


.my-orders #close-orders span:hover {
  color: var(--black);
}

.my-orders .title {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--black);
  font-size: 3rem;
  text-transform: capitalize;
}

.my-orders .box {
  background-color: var(--white);
  border-radius: .5rem;
  padding: 2rem;
  box-shadow: var(--box-shadow);
  margin: 1.5rem 0;
}


.my-orders .box p {
  margin: 1rem 0;
  font-size: 1.7rem;
  color: var(--light-color);
  line-height: 1.5;
}

.my-orders .box p span {
  color: var(--black);
}

/*shopping-cart*/
.shopping-cart {
  position: fixed;
  top: 0;
  right: -110%;
  width: 35rem;
  z-index: 1100;
  background-color: var(--light-bg);
  border-left: var(--border);
  height: 100vh;
  overflow-y: scroll;
}

.shopping-cart.active {
  /*se muestra el contenido que hay en el carro*/
  right: 0;
}

.shopping-cart #close-cart {
  text-align: right;
  margin-bottom: 2.5rem;
}

.shopping-cart #close-cart span {
  cursor: pointer;
  font-size: 2.5rem;
  color: var(--main-color);
  text-decoration: underline;
}


.shopping-cart #close-cart span:hover {
  color: var(--black);
}

.shopping-cart .box {
  display: flex;
  position: relative;
  align-items: center;
  gap: 1.5rem;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  padding: 1.5rem;
  background-color: var(--white);
  margin: 1.7rem 0;
}

.shopping-cart .box .fa-times {
  /*fatimes es el tache*/
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  font-size: 1.8rem;
  cursor: pointer;
  color: var(--main-color);
}


.shopping-cart .box .fa-times:hover {
  color: var(--black);
}

.shopping-cart .box img {
  width: 7rem;
}

.shopping-cart .box .content p {
  font-size: 1.8rem;
  color: var(--light-color);
}

.shopping-cart .box .content p span {
  color: var(--main-color);
}



.shopping-cart .box .content form {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
}

.shopping-cart .box .content form .qty {
  border: var(--border);
  border-radius: .5rem;
  padding: 1rem;
  font-size: 1.8rem;
  color: var(--black);
  width: 8rem;
}

.shopping-cart .box .content form .fa-edit {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.3rem;
  font-size: 1.7rem;
  border-radius: .5rem;
  background-color: var(--light-bg);
  color: var(--black);
  cursor: pointer;
}

.shopping-cart .box .content form .fa-edit:hover {
  background-color: var(--black);
  color: var(--white);
}

.shopping-cart .cart-total {
  text-align: center;
  margin: 2rem 0;
  font-size: 2.5rem;
  color: var(--black);
}

.shopping-cart .cart-total span {
  color: var(--main-color);
}



/*slider1*/
.header-content {
  padding-bottom: 9rem;
  padding-top: 9rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background: var(--black);
  box-shadow: var(--box-shadow);

}

.slider {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.swiper-button-prev::after {
  font-size: 3rem;
}

.swiper-button-next::after {
  font-size: 3rem;
}

.swiper-button-next {
  color: var(--main-color);
}

.swiper-button-prev {
  color: var(--main-color);
}

.swiper-pagination-bullet {
  background-color: var(--white);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--main-color);
}

.slider-txt {
  margin-left: 5.5rem;
  width: 50%;
}

.slider-txt h1 {
  font-size: 5rem;
  color: var(--white);
  text-transform: uppercase;
  font-weight: 800;
}

.slider-txt p {
  font-size: 2.5rem;
  color: var(--light-bg);
}

.botones {
  margin-top: 3.1rem;
}

.btn-1 {
  display: inline-block;
  padding: 1rem 2.2rem;
  border: 0.1rem solid var(--main-color);
  color: var(--white);
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  margin-right: 1.3rem;
  border-radius: 3.1rem;
  font-size: 2rem;
}

.btn-1:hover {
  background-color: var(--main-color);
}

.slider-img {
  width: 50%;
}

.slider-img img {
  margin-right: 14rem;
  width: 35rem;
}

/*about section*/
.about .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 35rem);
  gap: 2rem;
  align-items: flex-start;
  justify-content: center;
}

.about .box-container .box {
  background-color: var(--white);
  border-radius: .5rem;
  padding: 1rem;
  text-align: center;
  box-shadow: var(--box-shadow);
}

.about .box-container .box img {
  width: 90%;
  margin-bottom: 1rem;
}

.about .box-container .box h3 {
  font-size: 2rem;
  color: var(--main-color);
}

.about .box-container .box p {
  padding: 1rem 0;
  line-height: 2;
  font-size: 1.6rem;
  color: var(--light-color);
}

/*menu section*/
.menu {
  background-color: var(--black);
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: none !important;
  padding-left: 9rem;
  padding-right: 9rem;
}


.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 35rem);
  gap: 1.5rem;
  align-items: flex-start;
  justify-content: center;
}

.menu .box-container .box {
  background-color: var(--white);
  border-radius: .5rem;
  padding: 2rem;
  text-align: center;
  box-shadow: var(--box-shadow);
  position: relative;
}

.menu .box-container .box img {
  width: 100%;
  margin-bottom: 1rem;
}

.menu .box-container .box .price {
  background-color: var(--black);
  border-radius: .5rem;
  padding: .5rem 1rem;
  font-size: 1.7rem;
  color: var(--white);
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.menu .box-container .box .price span {
  font-size: 2.5rem;
}

.menu .box-container .box .name {
  font-size: 2rem;
  color: var(--black);
  margin: .5rem 0;
}


.menu .box-container .box form {
  display: flex;
  gap: 1rem;
}


.menu .box-container .box form .qty {
  width: 8rem;
  border: var(--border);
  padding: 1rem;
  margin-top: 1rem;
  border-radius: .5rem;
  font-size: 1.8rem;
  color: var(--black);
}


/*order section*/
.order form {
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  border-radius: .5rem;
}

.order form .display-orders {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 2rem;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding: 3rem 2rem;
  background-color: var(--light-bg);
  border-radius: .5rem;
}

.order form .display-orders p {
  font-size: 2rem;
  color: var(--light-color);
  background-color: var(--white);
  padding: 1rem 3rem;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
}

.order form .display-orders p span {
  color: var(--red);
}

.order form .flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: space-between;
}


.order form .flex .inputBox {
  width: 49%;
}

.order form .flex .inputBox span {
  font-size: 1.8rem;
  color: var(--light-color);
}

.order form .flex .inputBox .box {
  width: 100%;
  background-color: var(--light-bg);
  padding: 1.4rem;
  font-size: 1.8rem;
  color: var(--black);
  border-radius: .5rem;
  margin: 1rem 0;
}

/*horario*/
.horario {
  padding: 100px 0px;
  background-color: var(--black);
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: none !important;
  padding-left: 9rem;
  padding-right: 9rem;

}

.horario .horario-txt {
  display: flex;
  justify-content: space-between;
}

.horario .txt {
  color: var(--white);
}

.horario .txt h4 {
  font-size: 22px;
  color: var(--light-bg);
  margin-bottom: 30px;
}

.horario .txt p {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 15px;
}

.horario .socials {
  display: flex;
}

.horario .social {
  margin: 0 10px;
  height: 40px;
  width: 40px;
  border: 1px solid var(--main-color);
  border-radius: 50%;
}

.horario .social:hover {
  background-color: var(--main-color);
}

.horario .social img {
  margin: 8px 0 0 10px;

}



/* MAPA*/
.mapa {
  background-color: var(--black);
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: none !important;
  padding-left: 9rem;
  padding-right: 9rem;
}

.mapa .map {
  filter: grayscale(100%) invert(92%) contrast(93%);
  /*se ocuresca el mapa*/

}


/*credit*/
.credit {
  text-align: center;
  margin-top: 3rem;
  padding: 1rem 0;
  padding-top: 3rem;
  border-top: var(--border);
  font-size: 2rem;
  color: var(--white);
  padding-bottom: 5rem;
  margin-left: 8rem;
  margin-right: 8rem;
}

.credit span {
  color: var(--main-color);
}



























/*RESPONSIVA*/
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .slider {
    flex-direction: column;
    text-align: center;
  }

  .slider-txt {
    margin: 0;
    width: 100%;
  }

  .slider-img {
    margin: 2rem 0;
    width: 100%;
  }

  .slider-img img {
    margin: 0 auto;
    width: 50%;
  }

  .horario {
    padding: 50px 0px;
  }

  .horario .txt h4 {
    font-size: 20px;
  }

  .horario .txt p {
    font-size: 10px;
  }

}


@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
    /*se muestre el icono del menu*/
  }

  .header .flex .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background-color: var(--light-black);
    border-top: var(--border);
    border-bottom: var(--border);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .flex .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .flex .navbar a {
    display: block;
    margin: 2rem;
  }

  .slider-txt h1 {
    font-size: 3rem;
  }

  .slider-txt p {
    font-size: 1.5rem;
  }

  .btn-1 {
    font-size: 1.8rem;
    padding: 0.8rem 2rem;
  }

  .order form .flex .inputBox {
    width: 100%;
  }

  .horario .txt {
    text-align: center;
  }

  .horario .socials {
    justify-content: center;
  }

}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading {
    font-size: 2.5rem;
  }

  .my-orders {
    width: 100%;
    border-left: 0;
  }

  .shopping-cart {
    width: 100%;
    border-left: 0;
  }

  .about .box-container {
    grid-template-columns: 1fr;
  }


  .menu .box-container {
    grid-template-columns: 1fr;
  }

  .slider-txt h1 {
    font-size: 3rem;
  }

  .slider-txt p {
    font-size: 1.5rem;
  }

  .btn-1 {
    font-size: 1.6rem;
    padding: 0.6rem 1.8rem;
  }

  .slider-img img {
    width: 70%;
  }
}